
<header class="hd hdJS up">
    <div class="header-banner" id="hd-banner">
        <div class="header-banner-message">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
            </svg>
            <span>DSK Clothes love you!!!</span>
        </div>
        <div class="header-banner-switch">
            <div class="menu-dropdown">
                <a href="#" class="button-dropdown">
                    <span>BUY NOW</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="hd__top">
        <div class="con fl-ct">
            <div class="col-4">
                <div class="hiden-nav">
                    <div class="fl-wrap">
                        <nav role="navigation">
                            <div id="menuToggle">
                                <input type="checkbox" />
                                <span></span>
                                <span></span>
                                <span></span>
                                <ul id="menu">
                                    <li>@Html.ActionLink("Về chúng tôi", "AboutUs", "Home")</li>
                                    <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("Sale-off", "SaleOff", "Home")</li>
                                    <li>@Html.ActionLink("Bộ sưu tập", "Collection", "Home")</li>
                                    <li>@Html.ActionLink("Outfits", "Outfits", "Home")</li>
                                    <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("Chăm sóc khách hàng", "Care", "Home")</li>
                                    <li>@Html.ActionLink("Tuyển dụng", "Recruit", "Home")</li> 
                                </ul>
                            </div>
                        </nav>
                        <div class="hd__list fl-con aln-ct">
                            <div class="hd__ser pd-lr hd__des hv-ani">
                                <div class="ser__btn actBtn" title="Tìm kiếm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="hd__logo">
                    <a href="~/Home/Home"><img src="/Images/logo.gif" alt="DSK Clothes" title="DSK Clothes" /></a>
                </div>
            </div>
            <div class="col-4">
                <div class="hd__list fl-con aln-ct">
                    <div class="hd__notification pd-lr hv-ani">
                        <div class="notification__btn dp-block ">
                            <div class="notification__btn__child" title="Thông báo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                </svg>
                                <div class="cart__num c-whi f-thin" title="Thông báo">
                                    1
                                </div>
                            </div>
                            <div class=""></div>
                        </div>
                    </div>
                    <div class="hd__ser pd-lr hd__des hv-ani">
                        <div class="ser__btn actBtn" title="Tìm kiếm">
                            <a href="~/Home/Search" style="color: #47474C">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="hd__cart pd-lr hv-ani">
                        @Html.Action("GioHangPartial", "Cart")
                    </div>
                    <div class="hd__user pd-lr">
                        <a href="~/SignUp/LogIn" class="user__btn actBtn" title="Đăng nhập">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </a>               
                    </div>
                    <div class="hd__lang pd-lr">
                        <div class="lang actPanel">
                            <div class="lang__btn actBtn fl-ct" title="Ngôn ngữ">
                                <img src="/Images/vn.png" alt="Region: VIETNAM" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hd__bot" id="hd-bot-sc">
        <div class="con pd-0">
            <div class="hd__menu menu menuBoard">
                <div class="menu__wrap">
                    <ul id="menu-main-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-890" id="menu-item-890">
                            @Html.ActionLink("Về chúng tôi", "AboutUs", "Home")   
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-307" id="menu-item-307"> 
                            @Html.ActionLink("Shop", "Shop", "Home")
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </span>
                            <ul class="submenu">
                                <li class="submenu__item">
                                    <a href="#">Tất cả</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">New Arrival</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">T - shirt</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">Polo</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">Outerwear</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">Quần</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">Ba lô</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">Phụ kiện</a>
                                </li>
                                <li class="submenu__item">
                                    <a href="#">BST</a>
                                </li>
                            </ul>
                            
                        </li>
                        <li class="red menu-item menu-item-type-post_type menu-item-object-page menu-item-622385" id="menu-item-622385">
                            @Html.ActionLink("Sale-off", "SaleOff", "Home") 
                        </li>  
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305" id="menu-item-305">
                            @Html.ActionLink("Bộ sưu tập", "Collection", "Home") 
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-304" id="menu-item-304">
                            @Html.ActionLink("Outfits", "Outfits", "Home")
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4398" id="menu-item-4398">
                            @Html.ActionLink("Blog", "Blog", "Home")
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171" id="menu-item-171">
                            @Html.ActionLink("Liên hệ", "Contact", "Home")
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-172" id="menu-item-172">
                            @Html.ActionLink("Chăm sóc khách hàng", "CustomerCare", "Home")
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639205" id="menu-item-639205">
                            @Html.ActionLink("Tuyển dụng", "Recruit", "Home")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
